.tela-canvas {
  border: 1px solid #000;
  image-rendering: pixelated;
  width: 600px;
  height: 600px;
  cursor: crosshair;
}

.tela-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}