.tela-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.tela-canvas {
  border: 1px solid #ccc;
  image-rendering: pixelated;
  cursor: crosshair;
  width: 600px;
  height: 600px;
}

.input-color {
  width: 50px;
  height: 33.3px;
  border: none;
  cursor: pointer;
  background: none;
}